#container {
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock1.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 2%;
    height: 26%;
    top: 25%;
    left: 48.8%;
    opacity: 0.8;
}
#minute {
    width: 1.5%;
    height: 36%;
    top: 16.5%;
    left: 49%;
    opacity:0.8;
}
#second {
    width: 1%;
    height: 42%;
    top: 9.5%;
    left: 49.4%;
    opacity: 0.8;
}